.vscode/**
.vscode-test/**
.github/**

src/**
**/*.ts
**/*.tsx
**/*.test.*
**/__tests__/**
coverage/**

node_modules/.bin/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/benchmark/**
node_modules/**/bench/**
node_modules/**/coverage/**
node_modules/**/.nyc_output/**

**/*.map
**/*.log
**/.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
